@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.7px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: 8px;
	margin-bottom: -1px;
}

#pu85
{
	width: 0.01px;
	margin-left: 13px;
	position: relative;
}

#u85
{
	z-index: 2;
	width: 238px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 75px;
}

#u87-4
{
	z-index: 3;
	width: 238px;
	min-height: 90px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u86-4
{
	z-index: 7;
	width: 214px;
	min-height: 35px;
	margin-right: -10000px;
	left: 12px;
}

#menuu112
{
	z-index: 11;
	width: 71px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 278px;
}

#u116-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
}

#menuu137
{
	z-index: 18;
	width: 68px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 251px;
}

#u141-4
{
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
}

#menuu162
{
	z-index: 25;
	width: 68px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 299px;
}

#u138,#u179
{
	width: 68px;
	min-height: 34px;
	margin-right: -10000px;
}

#u139,#u180
{
	width: 68px;
}

#u183-4
{
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
}

#u828
{
	z-index: 37;
	width: 317px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 13px;
}

._u828.f3s_top
{
	height: 6px;
	width: 317px;
}

#u1059
{
	z-index: 38;
	width: 71px;
	margin-right: -10000px;
	margin-top: 2px;
}

#menuu1102
{
	z-index: 40;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 4px;
}

#u113,#u1103
{
	width: 71px;
	min-height: 34px;
	margin-right: -10000px;
}

#u114,#u1104
{
	width: 71px;
}

#u1105-4
{
	width: 71px;
	min-height: 17px;
	margin-right: -10000px;
}

#u114.MuseMenuActive #u116-4,#u139.MuseMenuActive #u141-4,#u180.MuseMenuActive #u183-4,#u1104.MuseMenuActive #u1105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1127
{
	z-index: 47;
	width: 246px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 48px;
}

._u1127.f3s_top
{
	height: 7px;
	width: 246px;
}

#u315-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 8px;
}

#u869
{
	z-index: 52;
	width: 307px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 23px;
}

#u1055-4
{
	z-index: 54;
	width: 339px;
	text-align: justify;
	margin-left: 20px;
	margin-top: 4px;
	position: relative;
}

#u210
{
	z-index: 32;
	width: 379px;
	padding-bottom: 35px;
}

#u212-4
{
	z-index: 33;
	width: 350px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#page .verticalspacer
{
	clear: both;
}

