#u87-4
{
	font-family: germania-one-n4, sans-serif;
}

#u86-4,#u116-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u141-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u183-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1105-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u212-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u529-4,#u531-4,#u533-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

